In [1]:
import pandas as pd
import numpy as np
np.set_printoptions(precision=4,suppress=True)

In [2]:
#obiekt Series
s = pd.Series([10,20,30,40,50],index=["a","c","e","g","i"],name="wartosci")
s

In [3]:
#obiekt DataFrame
data = {
    "name":["Alicja","Tomek","Hania"],
    "age":[23,45,30],
    "city":["Warszawa","Lublin","Toruń"]
}

df = pd.DataFrame(data)
df

,name,age,city
0,Alicja,23,Warszawa
1,Tomek,45,Lublin
2,Hania,30,Toruń

In [4]:
!cat dane/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [5]:
!ls -l

total 3
drwxr-xr-x 2 datalore datalore 1224 May  8 11:44 dane
-rw-r--r-- 1 datalore datalore  176 May  8 11:47 environment.yml
drwx------ 2 datalore datalore   64 May  8 11:09 lost+found

In [6]:
df = pd.read_csv('dane/ex1.csv')
df

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [7]:
!cat dane/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [8]:
pd.read_csv('dane/ex2.csv',header=None,names=['moje a','moje b','moje c','moje d','takie tam'])

,moje a,moje b,moje c,moje d,takie tam
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [9]:
parsed = pd.read_csv('dane/csv_mindex.csv',index_col=['key1','key2'])
parsed

In [10]:
!cat dane/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [11]:
pd.read_json('dane/example.json')

,a,b,c
0,1,2,3
1,4,5,6
2,7,8,9

In [12]:
akcje = pd.read_pickle("dane/yahoo_price.pkl")
akcje

,AAPL,GOOG,IBM,MSFT
Date,,,,
2010-01-04,27.990226,313.062468,113.304536,25.884104
2010-01-05,28.038618,311.683844,111.935822,25.892466
2010-01-06,27.592626,303.826685,111.208683,25.733566
2010-01-07,27.541619,296.753749,110.823732,25.465944
2010-01-08,27.724725,300.709808,111.935822,25.641571
...,...,...,...,...
2016-10-17,117.550003,779.960022,154.770004,57.220001
2016-10-18,117.470001,795.260010,150.720001,57.660000
2016-10-19,117.120003,801.500000,151.259995,57.529999
2016-10-20,117.059998,796.969971,151.520004,57.250000
2016-10-21,116.599998,799.369995,149.630005,59.660000

In [13]:
akcje.to_csv('dane/akcje.csv')

In [14]:
akcje.to_html('dane/akcje.html')

In [15]:
akcje.to_xml('dane/akcje.xml')

In [16]:
dfex = pd.read_excel("dane/product.xlsx",usecols=["cena","liczba_sztuk"])

In [17]:
dfex

,cena,liczba_sztuk
0,3.40,1
1,12.78,1
2,34.00,2
3,10.70,4
4,0.99,6
5,11.60,1

In [19]:
akcje.to_excel("dane/akcje.xlsx",index=False)