In [1]:
import pandas as pd

In [4]:
#obiekt Series
s = pd.Series([10,20,30,40,50],index=["a","c","e","g","i"],name="wartosci")
s

In [5]:
#obiekt DataFrame
data = {
    "name":["Alicja","Tomek","Hania"],
    "age":[23,45,30],
    "city":["Warszawa","Lublin","Toruń"]
}

df = pd.DataFrame(data)
df

,name,age,city
0,Alicja,23,Warszawa
1,Tomek,45,Lublin
2,Hania,30,Toruń